<div id="<%= dom_id course %>">
  <p>
    <strong>Image:</strong>
    <%= course.image %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= course.video %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Star:</strong>
    <%= course.star %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

</div>
