<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :image, placeholder: "Image" %>
  </div>

  <div class="field">
    <%= form.text_field :video, placeholder: "Video" %>
  </div>

  <div class="field">
    <%= form.text_field :title, placeholder: "Title"  %>
  </div>

  <div class="field">
    <%= form.number_field :star, placeholder: "Star" %>
  </div>

  <div class="field">
    <%= form.text_area :description, placeholder: "Description", length: "800", class: "materialize-textarea"%>
  </div>

<form action="#">
  <div class="field">
   <label for="public">
    <%= form.check_box :public, id: :public, class: "filled-in"%>
        <span>Public</span>
   </label>
  </div>


  <button class="btn" type="submit">Submit</button>
  <%= link_to "Go to all courses", courses_path, class: "btn" %>
  </form>
  <% end %>
